export(eviews.regression)
export(ivreg)
export(lmlatexline)
export(print.summary.reg)
export(reg)
export(rndCGM)
export(stata.regression)
export(tsls2)
export(wildboot.reg)
import(lattice)
import(nloptr)
import(numDeriv)
import(rgenoud)
import(sandwich)
S3method(confint,reg)
S3method(lmlatexline,ivreg)
S3method(lmlatexline,reg)
S3method(print,ivreg)
S3method(print,reg.wb)
S3method(print,summary.reg.wb)
S3method(print,summary.reg)
S3method(summary,ivreg)
S3method(summary,reg.wb)
S3method(summary,reg)
S3method(vcov,ivreg)
S3method(vcov,reg)
useDynLib(grpack)
