S3method(coeftest,reg)
S3method(confint,reg)
S3method(lmlatexline,ivreg)
S3method(lmlatexline,reg)
S3method(print,coeftest.reg)
S3method(print,ivreg)
S3method(print,reg.wb)
S3method(print,summary.reg)
S3method(print,summary.reg.wb)
S3method(summary,ivreg)
S3method(summary,reg)
S3method(summary,reg.wb)
S3method(vcov,ivreg)
S3method(vcov,reg)
S3method(wildboot,reg)
export(eviews.regression)
export(ivreg)
export(lmlatexline)
export(modelInfo.summary.coxph)
export(modelInfo.summary.gee)
export(modelInfo.summary.glm)
export(modelInfo.summary.lm)
export(modelInfo.summary.lrm)
export(modelInfo.summary.reg)
export(modelInfo.summary.tobit)
export(outreg2)
export(print.summary.reg)
export(reg)
export(rndCGM)
export(statify)
export(tsls2)
export(wildboot)
exportMethods(modelInfo)
import(Hmisc)
import(Rcpp)
import(RcppArmadillo)
import(sandwich)
useDynLib(grpack)
